{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="row">
        <!-- Left Column: Icon -->
        <div class="col-md-2 d-flex align-items-start">
            <img
                src="{{ url_for('static', filename='images/DrugRepurposing-ICON-2b.svg') }}"
                alt="Drug Repurposing Icon"
                style="
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                "
            />
        </div>

        <!-- Middle Column: Form -->
        <div class="col-md-8 text-center">
            <h1>Drug Repurposing</h1>
            <p>
                Fill in the details below to create a new disease graph.<br />
                <b>Note: this may take a while. Please be patient.</b>
            </p>

            <div class="custom-padding"></div>

            <div class="form-container">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div class="form-row">
                        <!-- Date Override Toggle -->
                        <div
                            class="form-group col-md-3 text-center checkbox-container"
                        >
                            {{ form.date_t.label(class="form-control-label") }}
                            {{ form.date_t(class="form-control") }}
                        </div>

                        <!-- Date Override Fields -->
                        <div class="form-group col-md-3 text-center">
                            {{
                            form.date_OR_day.label(class="form-control-label")
                            }} {{ form.date_OR_day(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3 text-center">
                            {{
                            form.date_OR_month.label(class="form-control-label")
                            }} {{ form.date_OR_month(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3 text-center">
                            {{
                            form.date_OR_year.label(class="form-control-label")
                            }} {{ form.date_OR_year(class="form-control") }}
                        </div>
                    </div>

                    <div class="custom-padding"></div>

                    <!-- OMIM ID Input -->
                    <div class="form-group text-center position-relative">
                        <!-- First Row -->
                        <div class="mb-3">
                            <div
                                <div class="omim-converter-container d-flex flex-column w-100 bg-light border rounded p-3">
                                <div>
                                    <label
                                        for="omim_id"
                                        class="form-control-label mr-3"
                                        >OMIM to MONDO <br />converter</label
                                    >
                                    <button
                                        class="btn btn-xs btn-outline-secondary omim-collapse-btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#omimConverterContent"
                                        aria-expanded="false"
                                        aria-controls="omimConverterContent"
                                    >
                                        <span class="collapse-toggle-icon"
                                            >+</span
                                        >
                                    </button>
                                    <div
                                        class="collapse"
                                        id="omimConverterContent"
                                    >
                                        <div class="input-group mt-2 w-100">
                                            <input
                                                type="text"
                                                id="omim_id"
                                                name="omim_id"
                                                class="form-control"
                                                placeholder="143100"
                                            />
                                            <div class="input-group-append">
                                                <button
                                                    class="btn btn-primary"
                                                    type="button"
                                                    id="convert-omim-button"
                                                >
                                                    CONVERT
                                                </button>
                                            </div>
                                        </div>
                                        <div class="input-help-text mt-2">
                                            Enter an OMIM ID (number only)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second Row -->
                        <div>
                            <div
                                id="omim-alert"
                                class="alert mt-2"
                                style="display: none"
                            ></div>
                        </div>
                    </div>

                    <div class="custom-padding"></div>

                    <!-- Disease URI Input -->
                    <div class="form-group text-center">
                        <label for="disease_URI" class="form-control-label"
                            >Disease URI input for drug repurposing</label
                        >
                        <div class="input-group">
                            <input
                                type="text"
                                id="disease_URI"
                                name="disease_URI"
                                class="form-control"
                                placeholder="MONDO:0007739"
                            />
                        </div>
                        <div class="input-help-text mt-2">
                            Enter a Monarch (MONDO) Disease ID
                        </div>
                        <!-- Input Alert Area -->
                        <div
                            id="mondo-alert"
                            class="alert mt-2"
                            style="display: none"
                        ></div>
                    </div>

                    <div class="custom-padding"></div>

                    <div class="form-row">
                        <!-- Degree of Distance -->
                        <div class="form-group col-md-3 text-center">
                            {{
                            form.deg_of_dist.label(class="form-control-label")
                            }} {{ form.deg_of_dist(class="form-control") }}
                        </div>

                        <!-- Minimum Similarity -->
                        <div class="form-group col-md-3 text-center">
                            {{
                            form.inp_minimum_sim.label(class="form-control-label")
                            }} {{ form.inp_minimum_sim(class="form-control") }}
                        </div>

                        <!-- Negative Samples Toggle -->
                        <div
                            class="form-group col-md-3 text-center checkbox-container"
                        >
                            {{ form.ns_toggle.label(class="form-control-label")
                            }} {{ form.ns_toggle(class="form-control") }}
                        </div>

                        <!-- Similarity Threshold -->
                        <div class="form-group col-md-3 text-center">
                            {{ form.sim_t.label(class="form-control-label") }}
                            {{ form.sim_t(class="form-control") }}
                        </div>
                    </div>

                    <div class="custom-padding"></div>

                    <div class="form-row">
                        <!-- Number of CPU Cores -->
                        <div class="form-group col-md-4 text-center">
                            {{ form.n_cores.label(class="form-control-label") }}
                            {{ form.n_cores(class="form-control") }}
                        </div>

                        <!-- Mode of Operation -->
                        <div class="form-group col-md-4 text-center">
                            {{ form.po_mode.label(class="form-control-label") }}
                            {{ form.po_mode(class="form-control") }}
                        </div>

                        <!-- ML Seed -->
                        <div class="form-group col-md-4 text-center">
                            {{ form.ML_seed.label(class="form-control-label") }}
                            {{ form.ML_seed(class="form-control") }}
                            <!-- ML seed Alert Area -->
                            <div
                                id="ml-seed-alert"
                                class="alert mt-2"
                                style="display: none"
                            ></div>
                        </div>
                    </div>

                    <div class="custom-padding"></div>

                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                    <!-- NOTES: after the run is launched, this could be converted into the advancement bar, not to disrupt the layout -->

                    <div class="custom-padding"></div>
                </form>
            </div>
        </div>

        <!-- Right Column: Future Log In Box -->
        <div class="col-md-2 d-flex justify-content-center align-items-start">
            <a href="{{ url_for('current_runs') }}" class="log-in-box">
                <p class="m-0">CURRENT RUNS</p>
            </a>
        </div>
    </div>
</div>

{% endblock content %}
