/* includes alternating gray and white with on-hover color */

@font-face {
  font-family: 'Source Code Pro';
  src: url('/static/fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('/static/fonts/SourceCodePro-Regular.woff') format('woff'),
       url('/static/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/static/fonts/SourceCodePro-SemiBold.woff2') format('woff2'),
       url('/static/fonts/SourceCodePro-SemiBold.woff') format('woff'),
       url('/static/fonts/SourceCodePro-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/static/fonts/NotoSans-Regular.woff2') format('woff2'),
       url('/static/fonts/NotoSans-Regular.woff') format('woff'),
       url('/static/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/static/fonts/NotoSans-SemiBold.woff2') format('woff2'),
       url('/static/fonts/NotoSans-SemiBold.woff') format('woff'),
       url('/static/fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}


/* Primary font for text */
.mystyle {
    font-size: 11pt; 
    font-family: 'Noto Sans', Arial, sans-serif;
    border-collapse: collapse; 
    text-align: left;
    border: 0;
}

/* Font for coding outputs and logs */
.code-style {
    font-family: 'Source Code Pro', monospace;
}

.mystyle thead th {
  background-color: SeaGreen; /*#04AA6D;*/
  color: white;
}

.mystyle td, th {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.mystyle tr:nth-child(even) {
    background: #f2f2f2;
}

.mystyle tr:hover {
    cursor: pointer;
    background-color: YellowGreen;
}
